defmodule <%= module_name %>.Repo do
  use Ecto.Repo, adapter: Ecto.Adapters.Postgres

  def conf,
    do: parse_url repo_url(Mix.env)

  defp repo_url(:test),
    do: "ecto://postgres:postgres@localhost/<%= application %>_test?size=1&max_overflow=0"
  defp repo_url(_),
    do: "ecto://postgres:postgres@localhost/<%= application %>"

  def priv,
    do: :code.priv_dir(:<%= application %>)
end
