<div class="row">
  <div class="col-md-23 col-md-offset-1">
    <h1 class="page-header">
      Index
      <small>Replace content at assets/javascripts/templates/index.hbs</small>
    </h1>

    <p class="lead">
      This file was generated as an example.
    </p>
  </div>
</div>
