defmodule <%= module_name %>.Router do
  use Zorn.Controller

  plug Zorn.Plugs.CommonLogger, fun: &__MODULE__.log_unless_test/1
  plug Plug.Static, at: "/static", from: :<%= application %>
  plug :match
  plug :dispatch

  forward "todos", <%= module_name %>.Controller.Todos
  forward "/",     <%= module_name %>.Controller.Home

  def log_unless_test(log) do
    unless Mix.env == :test, do: IO.puts log
  end
end
