defmodule <%= module_name %>.Model.<%= subject_camelcase %>Test do
  use <%= module_name %>.TestCase

  import Zorn.Serializer
  alias <%= module_name %>.Model.<%= subject_camelcase %>

  test "creates a <%= subject_underscore %> with #create" do
    {:ok, <%= subject_underscore %>} = <%= subject_camelcase %>.create(name: "one", description: "two three")
    {:ok, found} = <%= subject_camelcase %>.find(<%= subject_underscore %>.id)
    assert serialize(found) == serialize(<%= subject_underscore %>)
  end

  test "return an error when finding a <%= subject_underscore %> id that doesn't exist" do
    assert <%= subject_camelcase %>.find("no-existent") == :not_found
  end
end
