defmodule <%= module_name %>.Controller.<%= subjects_camelcase %>Test do
  use <%= module_name %>.TestCase
  use Zorn.PlugTestHelper, router: <%= module_name %>.Router

  alias <%= module_name %>.Model.<%= subject_camelcase %>

  test "POST / creates a <%= subject %> with valid attributes" do
    conn = json_request("POST", "/<%= subjects %>", [<%= subject %>: [name: "hello", description: "there"]])

    assert conn.status == 201
    result = conn.resp_body |> JSON.decode!
    assert is_list(result["<%= subject %>"])
    assert result["<%= subject %>"]["name"] == "hello"

    {:ok, <%= subject %>} = <%= subject_camelcase %>.find(result["<%= subject %>"]["id"])
    assert <%= subject %>.name == "hello"
    assert <%= subject %>.description == "there"
  end

  test "POST / returns an error with invalid attributes" do
    conn = json_request("POST", "/<%= subjects %>", [<%= subject %>: [allo: "la terre"]])

    assert conn.status == 422
    result = conn.resp_body |> JSON.decode!
    assert result["messages"] == ["name is required", "description is required"]
  end
end
